.content {
    width: 100%;
    height: 1847px;
    padding-top: 40px;
}
.content > .border {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px 3px gray;
    
}
.border_content {
    padding: 0 80px;
}
.title {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
}
.title > p {
    height: 53px;
    font-weight: 700;
    font-size: 36px;
}
.user {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: red;
}
.user div {
    width: 486px;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user div 
.user div > input {
    width: 100%;
    height: 52px;
}