/* 공통css */
.board_box div > input::placeholder {
    color: rgba(189, 189, 189, 1);
}
.board_box div > textarea::placeholder {
    color: rgba(189, 189, 189, 1);
}
/* 끝 */
.board_box {
    width: 100%;
    height: 100%;
    padding: 80px 0 100px;
    font-family: 'Noto Sans CJK KR';
    
}
.board_box > .board {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0px 0px 10px gray;
    
}
.board_content {
    padding: 0 80px;
}
.board_title {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
}
.board_title > p {
    height: 53px;
    font-weight: 700;
    font-size: 36px;
}
.user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
}
.user div {
    width: 486px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.user div .errorMsg {
    position: absolute;
    bottom: 0;
    color: red;
}
.user > div > label {
    width: 100%;
    height: 19px;
    font-weight: 400;
    line-height: 19.2px;
    padding-bottom: 20px;
}
.user div > input {
    width: 100%;
    height: 52px;
    border: 1px solid rgba(189, 189, 189, 1);
    padding-left: 10px;
    box-sizing: border-box;
}
.boardInput:focus {
    outline: none;
}
.title {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}
.title > p {
    width: auto;
    height: 24px;
    font-weight: 500;
    line-height: 23.68px;
    padding-bottom: 20px;
}
.title > input {
    width: 100%;
    height: 52px;
    border: 1px solid rgba(189, 189, 189, 1);
    padding-left: 10px;
    box-sizing: border-box;
}
.title .errorMsg {
    color: red;
}
.content {
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}
.content > .title_01 {
    width: auto;
    height: auto;
    font-weight: 500;
    line-height: 23.68px;
    padding-bottom: 20px;
}
.content > textarea {
    width: 100%;
    height: 480px;
    line-height: 23.68px;
    padding: 15px;
    border: 1px solid rgba(189, 189, 189, 1);
    box-sizing: border-box;
}
.content > .errorMsg {
    color: red;
}
.address_box {
    width: 100%;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
}
.address_box > p {
    font-weight: 500px;
    line-height: 23.68px;
}
.address {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
}
.address_number {
    width: 77px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 23.68px;
    color: rgba(189, 189, 189, 1);
}
.address > div {
    padding-left: 15px;
}
.address_serch_btn {
    width: 124px;
    height: 52px;
    padding: 14px 16px;
    background: rgba(0, 0, 0, 1);
    color: #FFF;
    line-height: 23.68px;
    font-weight: 500;
    border: none;
}
.address_box_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.address_box_input > input{
    width: 100%;
    height: 52px;
    border: 1px solid rgba(189, 189, 189, 1);
}
.youtube_box {
    width: 100%;
    height: 81px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.youtube_box > p {
    font-weight: 500;
    line-height: 23.68px;
}
.youtube_box > input {
    width: 100%;
    height: 45.78px;
    border: 1px solid rgba(189, 189, 189, 1);
    padding-left: 10px;
    box-sizing: border-box;
}
.flie_box {
    width: 282px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}
.flie_box > p {
    font-weight: 500;
    line-height: 23.68px;
}
.flie_box > .file_box_upload {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flie_box > .file_box_upload > input {
    width: 78px;
    height: 78px;
    background: url("/public/upload.png") no-repeat;
    overflow: hidden;
}
.flie_box > .file_box_upload > input[type="file"] {
    text-indent: -9999px;
    font-size: 0;
}
.flie_box > .file_box_upload > input::file-selector-button{
    display: none;
}
.main_set {
    width: 159px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}
.main_set > p {
    font-weight: 500;
    line-height: 23.68px;
}
.main_set_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_set_content > input {
    width: 24px;
    height: 24px;
}
.main_set_content > label {
    width: auto;
    height: auto;
    font-family: 500;
    line-height: 23.68px;
}
.main_set_content input[type="radio"]:checked {
    background-color: red;
}
.insert_btn_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.insert_btn_box > button {
    width: 179px;
    height: 52px;
    padding: 14px 60px;
    font-weight: 500;
    line-height: 23.68px;
    background: rgba(255, 214, 0, 1);
    border: none;
}